<h1>Friends</h1>
<p>These are your friends</p>

<% if @friends.any? %>
  <ul>
    <% @friends.each do |friend| %>
      <li>
        <%= link_to friend.name, friend %>
      </li>
    <% end %>
  </ul>
<% end %>