<h1>FriendRequest#index</h1>
<p>Find me in app/views/friend_requests/index.html.erb</p>

<h2>Incoming</h2>

<% if @incoming.any? %>
  <ul>
    <% @incoming.each do |friend_request| %>
    <li>
      <%= link_to friend_request.user.name, friend_request.user %> 
    </li>
    <% end %>
  </ul>
<% end %>

<h2>Outgoing</h2>

<% if @outgoing.any? %>
  <ul>
    <% @outgoing.each do |friend_request| %>
    <li>
      <%= link_to friend_request.friend.name, friend_request.friend %> <%= link_to "Withdraw friend request", friend_request_path(friend_request), data: {turbo_method: :delete } %>
    </li>
    <% end %>
  </ul>
<% end %>