
<div class="dropdown is-right is-hoverable">
  <div class="dropdown-trigger">
    <button class="button is-link is-inverted" aria-haspopup="true" aria-controls="dropdown-menu2">
    Notifications
      <span class="icon">
        <i class="fas fa-bell"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu2" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        
        <%= turbo_frame_tag "notifications", src: friend_requests_path do %>
          Some content
        <% end %>
      </div>
    </div>
  </div>
</div>